body {
    background-color : #264653;
}

header {
    background-color : #264653; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

h1 {
    background-color : #2A9D8F;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

h2, h3, h4, h5, h6 {
    COLOR: black; 
    font-family:Verdana, Geneva; 
    FONT-SIZE: 10PT;
}

p {
    COLOR: Black; 
    font-family:Verdana, Geneva; 
    FONT-SIZE: 10PT; 
}

main {
    background-color: #BFD5C9; 
    border-radius: 5px;
}

aside {
    background-color: #006e48; 
    border-radius: 10px;
}

footer {
    background-color: #2A9D8F; 
    border-radius: 5px;
}


nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    border: 2px solid white;
    background-color: #2A9D8F;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: black;
    color: white;
}

.active {
    background-color: #264653;

}

#contactus {
    width: 50%;
}

table {
    font-family:Verdana, Geneva;
    border-collapse: collapse;
}

table td, table th {
    border-radius: 2px; 
    border-style: solid; 
    color: black;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: white;
}

Table tr:hover {
    background-color: #05A3A4;
}

table th {
    background-color: #BFD5C9;
    color: black;
    text-align: left;
    text-indent: 30.5px;
}

#logo {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 16px;
}


#home-carousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#home-carousel .carousel-item {
    height: 1200px;
}

.gallery-img {
    width:100%;
    height: 400px;
}

#img-gallery {
    padding-top: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

#left-col {
    padding-top: 80px;
    padding-left: 100px;
    width: 50%;
    float: left;
}

#right-col {
    padding-top: 80px;
    
}

#contact-info {
    border: black 1px;
    border-style: solid;
}